@namespace "http://www.w3.org/2000/svg";
g.node {
    cursor : pointer;
    fill-opacity : 1.0
}
g.empty > polygon{
    fill-opacity : 0.2
}
/* BOKEditor */
/* アイコン用 */
polygon {
    stroke : #000;
    stroke-width : 1px;
}
/* エッジ */
path.link {
    cursor : pointer;
    fill : none;
    stroke : #CCC;
    stroke-width : 1px;
}
/* DescriptionEditor */
/* アイコン用 */
circle {
    stroke : #000;
    stroke-width : 1.5px;
}
/* エッジ */
path.edge,
path.edge_other {
    fill : none;
    stroke : #000;
    stroke-width : 1.5px;
}
/* 種類別の色指定(アイコン) */
circle.bok {
    fill : #00F;
    stroke : #00F;
}
circle.desc {
    fill : #0F0;
    stroke : #0F0;
}
circle.preBok {
    fill : #0FF;
    stroke : #0FF;
}
/* 種類別の色指定(エッジ) */
path.smw {
    stroke : #F00;
    /* 点線 */
    stroke-dasharray: 1 2,2 1;
}
path.bok {
    stroke : #00F;
    stroke-dasharray: 2 1,1 2;
}
path.preBok {
    stroke : #0FF;
    stroke-dasharray: 1,3,1;
}
/* 種類別の色指定(マーカ:エッジ矢印) */
/* マーカ(エッジ矢印)の色 */
marker#bok {
    fill : #00F;
}
marker#preBok {
    fill : #0FF;
}
marker#smw {
    fill : #F00;
}
/* ノード(記事)名称 */
text {
    font : 9px sans-serif;
    fill : #000;
}
text.smw {
    fill : #F00;
}
/* Descriptionのみ 名称の背景色(重なり時、見えなくならないようにする) */
text.shadow {
    stroke: #FFF;
    stroke-width: 3px;
}
