@namespace "http://www.w3.org/2000/svg";
g.node {
    cursor : pointer;
    fill-opacity : 1.0
}
/* BOKEditor */
/* アイコン用 */
polygon {
    stroke : #000;
    stroke-width : 1px;
}
/* エッジ */
path.link {
    cursor : pointer;
    fill : none;
    stroke : #CCC;
    stroke-width : 1px;
}
/* DescriptionEditor */
/* アイコン用 */
circle {
    stroke : #000;
    stroke-width : 1.5px;
}
/* エッジ */
g.edge path {
    fill : none;
    stroke-width : 1.5px;
}
/* 種類別の色指定(エッジ) */
/* 種類別の色指定(マーカ:エッジ矢印) */
g.smw path {
    stroke : #C99;
    /* 点線 */
    stroke-dasharray: 1 2,2 1;
}
g.bok path {
    stroke : #CCF;
    stroke-dasharray: 2 1,1 2;
}
g.prebok path {
    stroke : #CFF;
    stroke-dasharray: 1,3,1;
}
marker#smw {
	stroke : #C99;
	fill : #C99;
}
marker#bok {
	stroke : #CCF;
	fill : #CCF;
}
marker#prebok {
	stroke : #CFF;
	fill : #CFF;
}


/* 種類別の色指定(アイコン) */
g.node circle {
	fill-opacity : 1;
}
g.node.empty circle {
	fill-opacity : 0.2;
}
g.bok  circle{
    fill : #00F;
    stroke : #00F;
}
g.desc circle {
    fill : #0F0;
    stroke : #0F0;
}
g.prebok circle {
    fill : #0FF;
    stroke : #0FF;
}

/* ノード(記事)名称 */
text {
    font : 9px sans-serif;
    fill : #000;
}
text.shadow {
    stroke: #FFF;
    stroke-width: 3px;
}
text.childs {
    fill : #009911;
}
g.smw.edge text {
    fill : #C99;
}

/* 記事内容が何もない場合 */
g.empty > polygon{
    fill-opacity : 0.2
}
/* 検索結果：強調 */
g.active > text,
g.active > g > text{
	fill : #FF0000;
}
g.active > polygon {
	fill : #FF0000;
	stroke : #FF0000;
}
g.active > circle {
	stroke : #FF0000;
}
